<div style="height: 50px"></div>

<% if flash[:notice] %>
 <p><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
<p><%= flash[:alert] %></p>
<% end %>


<div class="container">
  <div class="row">
   <div class="col-xs-3">
	<%= render "users/temp-top", user: @user %>
	<%= render "users/temp-bottom",book: @book %>
   </div>


<div class="col-xs-9">
<h2>Books</h2>
<table class="table">
  <thead>
	<tr>
		<th>   </th>
		<th>Title</th>
		<th>Opinion</th>
	</tr>

  </thead>
<% @books.each do |book| %>
  <tbody>
	<tr>
		<td><%= link_to user_path(@user), class:"user_#{@user.id}"  do%>
				<%= attachment_image_tag @user,:image,:fill, 40, 40,fallback: "img/no_image.jpg" %>
			<% end %>
		</td>
		<td><%= link_to book_path(book), class:"book_#{book.id}"  do %><%= book.title %>
			<% end %>
		</td>
		<td><%= book.body %></td>
	</tr>
  </tbody>
  <% end %>
</table>
	</div>


  </div>
</div>