<div style="height: 50px"></div>

<% if @book.errors.any? %>
 <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
<% end %>

<div class="container">
  <div class="row">
   <div class="col-xs-3">
	<%= render "books/temp-top", user: @user %>
	<%= render "books/temp-bottom",book: @book %>
   </div>

<div class="col-xs-9">
<h2>Books</h2>
<table class="table">
  <thead>
	<tr>
		<th>   </th>
		<th>Title</th>
		<th>Opinion</th>
	</tr>

  </thead>

<% @books.each do |book| %>
  <tbody>
	<tr>
		<td><%= link_to user_path(book.user), class: "user_#{book.user}" do %>
				<%= attachment_image_tag book.user,:image,:fill, 40, 40,fallback: "img/no_image.jpg" %>
			<% end %>
		</td>
		<td><%= link_to book_path(book), class: "book_#{book.id}" do %><%= book.title %>
			<% end %>
		</td>
		<td><%= book.body %></td>
	</tr>
  </tbody>
 <% end %>

</table>
	</div>

  </div>
</div>